#variaveis simples para o app, não precisam ser editadas.
#ele já busca em no diretório instance
SQLALCHEMY_DATABASE_URI = sqlite:///clima-sqlite.db
FLASK_ENV = development

SECRET_KEY = clima
#assinatura do token JWT    
JWT_SECRET_KEY = clima
#api externa_key
TOKEN_API_EXTERNA = 'token_api'
