.header-title{
    font-weight: 700;
    font-size: 2.5em;
}

.btn-user{
    font-size: 1.3em;
    border: 1px ;
}

.offcanvas-ul li{
    margin-bottom: 50px;
    font-size: 1.3em;
}
.btn-logout{
    width: 100%;
    padding: 20px;
}